p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

:root {
  --blue-text-colour: #2196f3;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  position: relative;
  display: block;
}

a {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  min-width: 320px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  opacity: 0;
  font-size: 0px;
  line-height: 0px;
  display: none;
  color: transparent;
  visibility: hidden;
  overflow: hidden;
  width: 0px;
  height: 0px;
}

@media screen and (min-width: 768px) {
  .current-link {
    color: var(--hover-color);
    border-bottom: 4px solid var(--hover-color);
  }
}

.navigation__list, .social, .grade__list, .whatdo__list, .team__list, .clients__list, .portfolio__link, .galery, .adress {
  margin: 0 auto;
  padding: 0px;
  list-style: none;
}

.contacts {
  list-style: none;
}

.social, .social__link, .main-btn, .whatdo__list, .clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #212121;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  display: inherit;
}

@media screen and (min-width: 768px) {
  .logo--header {
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--header {
    margin-right: 93px;
  }
}

.logo__img {
  display: inline-block;
  color: #2196f3;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.logo__text--footer {
  color: #ffffff;
}

.navigation {
  max-width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navigation.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
}

.navigation__link {
  display: block;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 32px;
  }
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link:hover::after {
  background-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  outline: none;
  background-color: #2196f3;
  fill: #ffffff;
}

.social__link--color {
  fill: #f5f4fa;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--color:hover, .social__link--color:focus {
  outline: none;
  background-color: #2196f3;
}

.main-btn {
  margin: 0 auto;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

.subscribe__btn {
  padding-right: 62px;
}

.header {
  min-width: 320px;
  border-bottom: 1px solid #ececec;
}

.header__wrap {
  position: relative;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__wrap {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .header__wrap {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header__hidepart {
    display: none;
  }
}

.header__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

.header__button:hover,
.header__button:focus .icon-menu {
  fill: #2196f3;
}

.header__button-close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__button-close {
    display: none;
  }
}

.header__button-close:hover,
.header__button-close:focus .icon-cross {
  fill: #2196f3;
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 84px;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    position: absolute;
    right: 15px;
  }
}

.contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .contacts__link {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact__link--phone {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196f3;
    margin: 0;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--email {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    margin: 0;
    margin-bottom: 64px;
  }
}

.social-mobile {
  display: none;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .social-mobile {
    display: flex;
    flex-wrap: wrap;
  }
}

.social-mobile__item:first-child {
  padding-right: 10px;
}

.social-mobile__item:last-child {
  padding-left: 10px;
}

.social-mobile__item:nth-child(2) {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mobile__item:nth-child(3) {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-mobile__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
}

.contacts__icon-envelope {
  margin-right: 8px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon-envelope {
    display: none;
  }
}

.contacts__icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .contacts__icon-smartphone {
    display: none;
  }
}

.solution {
  display: block;
  margin: 0px auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  min-width: 320px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-mobile.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solution .box {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .solution {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solution .box {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .solution {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solution .box {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/webstudio/solution/bg-desktop-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .solution {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.solution__title {
  margin: 0px auto;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1200px) {
  .solution__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.grade {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .grade {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.grade__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .grade__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.grade__item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .grade__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .grade__item {
    width: calc((100% - 120px) / 4);
  }
}

.grade__wrap {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.grade__title {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 767px) {
  .grade__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .grade__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: start;
  }
}

.grade__desctiption {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: start;
  color: #757575;
}

.whatdo {
  display: none;
}

.whatdo__box {
  padding-bottom: 94px;
}

.whatdo__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .whatdo {
    display: contents;
  }
}

.whatdo__item + .whatdo__item {
  margin-left: 30px;
}

.whatdo__wrap {
  position: relative;
}

.whatdo__image {
  width: 370px;
}

.whatdo__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team__list {
  margin: -15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team__item {
  width: 100%;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 120px) / 4);
  }
}

.team__photo {
  width: 100%;
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team__name {
    font-weight: 700;
  }
}

.team__position {
  margin-bottom: 16px;
  text-align: center;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  color: #212121;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients__list {
  margin: -15px;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  outline: none;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__link {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .portfolio__link {
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__link {
    margin-bottom: 50px;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:focus, .portfolio__btn:hover {
  background-color: #2196f3;
  color: #ffffff;
  outline: none;
}

.galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -15px;
}

.galery__item {
  margin: 15px;
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.galery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .galery__item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .galery__item {
    width: calc((100% - 90px) / 3);
  }
}

.galery__thumb {
  position: relative;
  overflow: hidden;
}

.galery__image {
  display: block;
  width: 100%;
}

.galery__description {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.galery__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.galery__item:hover .galery__description,
.galery__info {
  transform: translateY(0);
  opacity: 1;
}

.galery__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.galery__type {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2d2d33;
  min-width: 320px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 1199px) {
  .footer__top {
    display: block;
    margin-bottom: 60px;
  }
}

.adress__map {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.adress__contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-mid {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-mid {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-mid__title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f5f4fa;
}

.footer-mid__item {
  width: 44px;
  height: 44px;
}

.footer-mid__item + .footer-mid__item {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .social__item--footer {
    display: block;
    margin-bottom: 60px;
  }
}

.footer-subscribe {
  fill: black;
}

.footer-subscribe__label {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f5f4fa;
}

.user-email-input {
  width: 360px;
  height: 50px;
  padding: 15px;
  color: #f5f4fa;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2d2d33;
}

@media screen and (max-width: 767px) {
  .user-email-input {
    margin-bottom: 20px;
    width: 100%;
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .user-email-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .user-email-input {
    margin-right: 12px;
  }
}

.subscribe {
  position: relative;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .subscribe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__wrap {
  position: relative;
  display: flex;
}

.subscribe__icon {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translate(-100%, 50%);
  fill: #f5f4fa;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: none;
  pointer-events: none;
}

.modal-main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  max-width: 450px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal-main {
    max-width: none;
    width: 528px;
  }
}

.modal-close-link {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-link:hover .modal-close-icon {
  fill: #2196f3;
}

.modal-close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-title {
  display: block;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.lable {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-container {
  margin-bottom: 10px;
}

.input-container:last-child {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 30px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus,
.user-comments-area:hover,
.user-comments-area:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.input-wrap:hover .input-icon {
  fill: #2196f3;
}

.input:focus + .input-icon {
  fill: #2196f3;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
}

.user-comments-area {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.user-comments-area::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.icon-vector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .icon-vector {
    transform: translateY(20%);
  }
}

.icon-border {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .icon-border {
    transform: translateY(20%);
  }
}

.accept {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.input-check {
  position: absolute;
}

.icon-vector {
  width: 16px;
  height: 16px;
  fill: transparent;
}

.input-check:checked + .icon-border {
  background-color: #2196f3;
  border: none;
}

.input-check:checked + .icon-vector {
  background-color: #2196f3;
  fill: #ffffff;
}

.policy-text {
  padding-left: 25px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy {
  margin-left: 4px;
  text-decoration-line: underline;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.button-modal-send {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
/*# sourceMappingURL=main.css.map */