.grade {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.grade__list {
  @extend %list;
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.grade__item {
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.grade__wrap {
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.grade__title {
  margin-bottom: 10px;

  @include font('Roboto', normal, 700, 14px, 1.14, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: #212121;

  @media screen and (min-width: 767px) {
    text-align: start;
  }

  @media screen and (min-width: 1200px) {
    @include font('Roboto', normal, 700, 14px, 1.17, 0.03em);
    text-align: start;
  }
}

.grade__desctiption {
  @include font('Roboto', normal, 400, 14px, 1.71, 0.03em);
  text-align: start;
  color: #757575;
}
