.grade {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.grade__list {
  //@extend %align-list;
  margin: -15px;

  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.grade__item {
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.grade__title {
  margin-bottom: 10px;
  @include font(14px, 1.14, 700, 0.03em);
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  //font-size: 14px;
  //line-height: 16px;
  //letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    @include font(14px, 1.17, 700, 0.03em);
    text-align: start;
  }
}

.grade__aft-title {
  @include font(14px, 1.72, 400, 0.03em);
  //font-size: 14px;
  //line-height: (24px/14px);
  //letter-spacing: 0.03em;
  color: #757575;
  text-align: start;
}

.grade__container {
  text-align: center;
  border-radius: 4px;

  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: #f5f4fa;
}
