.header {
  min-width: 320px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  margin: 0 auto;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
  }
}

.header__button {
  position: absolute;
  top: 10px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;

  &:hover,
  &:focus .icon-menu {
    fill: var(--hover-color);
  }
}

.header__button-close {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus .icon-cross {
    fill: var(--blue-text-colour);
  }
}

.header__button.is-open .icon-cross {
  display: block;
}

.header__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.header__hidepart {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__hidepart {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 84px;
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    position: absolute;
    right: 15px;
  }
}

.contacts__link {
  @include font(12px, 1.14, 500, 0.02em);

  color: #2196f3;

  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    margin-left: 40px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
  &:hover,
  &:focus {
    color: var(--blue-text-colour);
  }
}

.header-link-contacts {
  margin-right: 50px;
  color: #212121;
  transition: color 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--blue-text-colour);
  }
}

.contacts__link-mail {
  @media screen and (max-width: 767px) {
    display: block;
    @include font(24px, 1.17, 500, 0.02em);
    color: #757575;
    margin: 0;
    margin-bottom: 64px;
  }
}

.contacts__link-tel {
  @media screen and (max-width: 767px) {
    display: block;
    @include font(34px, 1.17, 500, 0.02em);
    color: #2196f3;
    margin: 0;
    margin-bottom: 32px;
  }
}

.social-mobile {
  display: none;
  max-width: 100%;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
  }
  &__item:first-child {
    padding-right: 10px;
  }
  &__item:last-child {
    padding-left: 10px;
  }
  &__item:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__item:nth-child(3) {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  &__link {
    @include font(18px, 1.22, 500, 0.02em);
    color: #2196f3;
  }
}

.header-item + .header-item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contacts__mail-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  margin-right: 8px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}
.contacts__tel-icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  width: 10px;
  height: 16px;
  margin-right: 8px;
  fill: currentColor;
}
