.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__link {
  @extend %list;

  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.portfolio__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__item:nth-child(-n + 3) {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.portfolio__btn {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border: none;
  border-radius: 4px;
  text-align: center;
  @include font('Roboto', normal, 500, 16px, 1.63, 0.03em);
  color: var(--main-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: #2196f3;
    color: #ffffff;
    outline: none;
  }
}

.galery {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: -15px;
}

.galery__item {
  margin: 15px;
  width: 100%;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}

.galery__thumb {
  position: relative;
  overflow: hidden;
}
.galery__image {
  display: block;
  width: 100%;
}

.galery__description {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  @include font('Roboto', normal, 400, 18px, 1.55, 0.03em);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.galery__info {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.galery__item:hover .galery__description,
.galery__info {
  transform: translateY(0);
  opacity: 1;
}

.galery__title {
  @include font('Roboto', normal, 700, 18px, 2, 0.06em);
  color: #212121;
}
.galery__type {
  @include font('Roboto', normal, 400, 16px, 1.88, 0.03em);
  color: #757575;
}
