.whatdo {
  &__box {
    padding-bottom: 94px;
  }
  &__title {
    margin-bottom: 50px;

    text-align: center;
    @include font('Roboto', normal, 700, 36px, 1.17, 0.03em);
    color: #212121;
  }

  display: none;
  @media screen and (min-width: 1200px) {
    display: contents;
  }
}
.whatdo__list {
  @extend %list;
  @extend %middleflex;
}

.whatdo__item + .whatdo__item {
  margin-left: 30px;
}

.whatdo__wrap {
  position: relative;
}
.whatdo__image {
  width: 370px;
}

.whatdo__description {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  text-align: center;
  @include font('Roboto', normal, 700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
