.logo {
  @include font(26px, 1.19, 700, 0.03em);
  color: var(--blue-text-colour);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  display: inherit;
  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__web {
  display: inline-block;
  color: #2196f3;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.logo__studio {
  color: #ffffff;
}
