.logo {
  color: #212121;
  @include font('Raleway', normal, 700, 24px, 1.17, 0.03em);
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--header {
  display: inherit;
  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.logo__img {
  display: inline-block;
  color: #2196f3;
}

.logo--footer {
  display: block;
  margin-bottom: 20px;
}

.logo__text--footer {
  color: #ffffff;
}
